<launch>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_waiter" clear_params="true" output="screen">
    <rosparam command="load" file="$(find mobile_robot)/config/ekf_waiter.yaml" />

    <remap from="odometry/filtered" to="waiter_state/filtered"/>
    
  </node>
</launch>
