<launch>
   <node name="tf_apriltag0_map" pkg="tf" type="static_transform_publisher" args="0.485 0.7203 0.24 3.1415 0.0 1.57 map apriltag0 10" />
   <node name="tf_apriltag1_map" pkg="tf" type="static_transform_publisher" args="1.373 0.878 0.3524 2.094 0.0 1.57 map apriltag1 10" />
   <node name="tf_apriltag4_map" pkg="tf" type="static_transform_publisher" args="2.245 1.585 0.55 0.0 0.0 1.57 map apriltag4 10" />
   <node name="tf_apriltag5_map" pkg="tf" type="static_transform_publisher" args="1.76 1.585 0.55 0.0 0.0 1.57 map apriltag5 10" />
   <node name="tf_apriltag6_map" pkg="tf" type="static_transform_publisher" args="1.9 2.3470 .425 0.0 0.0 1.57 map apriltag6 10" />

   <node name="tf_apriltag3_map" pkg="tf" type="static_transform_publisher" args="1.477 0.3112 0.3397 4.71 0.0 1.57 map apriltag3 10" />
   <node name="tf_camera_base" pkg="tf" type="static_transform_publisher" args="-0.24 0 0.35 -0.5 0.5 -0.5 0.5 base_link camera 10" />
</launch>
