<launch>
	<include file = "$(find mobile_robot)/launch/frames.launch"/>
	<include file = "$(find mobile_robot)/launch/viz.launch"/>
	<include file = "$(find mobile_robot)/launch/map.launch"/>
	<include file = "$(find freenect_launch)/launch/freenect.launch">
		<arg name = "depth_registration" value ="true"/>
	</include>
	<include file = "$(find apriltags)/launch/apriltags.launch"/>
	<!--<include file = "$(find mobile_robot)/launch/robot_pose_ekf.launch"/>-->
	<include file = "$(find mobile_robot)/launch/ekf.launch"/>
	<!--<include file = "$(find lab6)/launch/load_trajectory.launch"/>-->
	<!--<include file = "$(find lab6)/launch/follow_trajectory.launch"/>-->
  	<node pkg="mobile_robot" name="odometry_control" type="me212bot_node.py"/>
  	<node pkg="mobile_robot" name="visual_localization" type="localizationAprilTag.py" output = "screen"/>
</launch>
